[project]
name = "rattler-build-conda-compat"
version = "1.4.7"
description = "A package for exposing rattler-build API for conda-smithy"
authors = ["nichmor <nmorkotilo@gmail.com>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]
build_sdist = "pixi run python -m build --sdist"

[dependencies]
python = ">=3.10"
python-build = ">=1.3.0,<2"
rattler-build = ">=0.47.1,<1.0"
conda-build = ">=25,<26"
conda = ">=25,<26"
pygithub = ">=2.8.1,<3"


[pypi-dependencies]
rattler-build-conda-compat = { path = ".", editable = true }

[feature.tests.dependencies]
pytest = ">=8.2.2,<9"
syrupy = ">=4.6.1,<5"

[feature.tests.tasks]
tests = "pytest --doctest-modules"
snapshot_update = "pytest --snapshot-update tests"

[feature.lint.dependencies]
pre-commit = ">=4.3.0,<5"
pre-commit-hooks = ">=5.0.0,<6"
typos = ">=1.37.2,<2"
mypy = ">=1.18.2,<2"
ruff = ">=0.13.3,<0.14"

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run"

[feature.type-checking.dependencies]
mypy = ">=1.10.1,<2"
types-requests = ">=2.32.0.20240712,<3"
types-pyyaml = ">=6.0.12.20240311,<6.0.13"

[feature.type-checking.tasks]
type-check = "mypy src"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py310.dependencies]
python = "3.10.*"

[environments]
py313 = { features = ["py313", "tests"] }
py312 = { features = ["py312", "tests"] }
py311 = ["py311", "tests"]
py310 = ["py310", "tests"]
lint = { features = ["lint"], no-default-feature = true }
type-checking = { features = ["type-checking"] }
